body {
    font-family: 'Roboto', sans-serif;
   
  
}
.nav {
    display: flex;
    flex-direction: row;
    background-color:azure;
    border-radius: 10px;
}
.calendar {
    
   
    
    width: 186px;
    
}
.heading {
    
    font-size: x-large;
    width: 329px;
}
.logoutBtn {
    
    border-radius: 8px;
  
}
.status{
  
}