body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/BedsIntheBackground.jpg");
  
}
.nav {
    display: flex;
    flex-direction: row;
    background-color:azure;
    border-radius: 10px;
}
.calendar {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 500px;
    width: 186px;
    margin-left:10px;
}
.heading {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 700px;
    font-size: x-large;
    width: 329px;
}
.logoutBtn {
    margin-top: 25px;
    border-radius: 8px;
  
}
.status{
    margin-left: 1650px;
}